* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.book-data {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(197, 186, 186);
  width: 90%;
  margin-top: 30px;
  padding: 1%;
}

.progress-container {
  display: flex;
  flex-direction: row;
}

.book-details {
  /* background-color: chartreuse; */
  width: 450px;
}

.graphic-progress {
  /* background-color: crimson; */
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding-top: 1px;
}

.current-chapter {
  /* background-color: darkgreen; */
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  width: 150px;
}

.progress-number {
  display: flex;
  flex-direction: column;
}

.book-author {
  display: flex;
  flex-direction: column;
}

.action {
  color: darkgrey;
  font-size: 19px;
  font-family: 'Raleway', sans-serif;
}

.title {
  font-size: 26px;
  font-family: 'Aboreto';
}

.author {
  font-size: 19px;
  color: rgb(28, 195, 236);
  font-family: 'Roboto', sans-serif;
}

.book-buttons-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-buttons {
  margin-right: 5px;
  border: none;
  color: rgb(28, 195, 236);
  background-color: white;
  font-size: 19px;
  font-family: 'Cormorant Garamond', serif;
}

.porcent {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

.status {
  margin-top: 5px;
  font-size: 19px;
}

.current {
  margin-top: 30px;
  color: darkgrey;
  font-size: 18px;
}

.chapter {
  font-size: 18px;
  margin-top: 5px;
}

.btn-update {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(28, 195, 236);
  font-size: 15px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  width: 200px;
}

.main-ul {
  list-style-type: none;
  margin-left: 25px;
}

.img-circle {
  width: 50px;
}

.image {
  margin-top: 50px;
  margin-left: 150px;

  /* background-color: aqua; */
}

hr {
  height: 0.1px;
  width: 98%;
  border: 1px solid rgb(245, 241, 241);
}

@media screen and (max-width: 768px) {
  .book-data {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(197, 186, 186);
    width: 100%;
    margin-top: 30px;
    padding: 1%;
    margin-left: -30px;
    box-shadow: 0px 0px 10px 0px;
  }

  .progress-container {
    display: flex;
    flex-direction: column;
    margin-left: -50px;
  }

  .img-circle {
    width: 50px;
    margin-top: -20px;
    margin-left: 25px;
  }

  .status {
    margin-top: 5px;
    text-align: center;
    font-size: 19px;
  }

  .progress-number {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }

  .current-chapter {
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    width: 150px;
  }

  .btn-update {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(28, 195, 236);
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    width: 200px;
    margin-left: -48px;
  }

  .book-buttons-container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 39px;
  }

  .img-user {
    width: 50px;
    margin-left: -240px;
    margin-top: -18px;
  }
}
